@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Contact.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 7.7.3, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#5476db">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-path-to-root="./" data-include-products="false" class="homepage" data-lang="en">
   
    <section class="u-clearfix u-container-align-center-xs u-palette-1-light-3 u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-1" id="carousel_8fae">
        <div class="u-expanded-width u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <img src="~/images/auto-mechanic-working-garage-repair-service7.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1500" data-image-height="1001" loading="lazy">
        <div class="custom-expanded u-container-align-left u-container-style u-group u-white u-group-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="800" data-animation-direction="X">
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <h2 class="u-align-left u-text u-text-1">
                    Kontaktirajte nas<br>
                </h2>
                <p class="u-align-left u-text u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Imate pitanje, trebate savjet ili želite da naručite dio? Naš tim vam je uvijek na raspolaganju! </p>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_9629">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h2 class="u-text u-text-default u-text-1">Pišite nam </h2>
                                <img class="u-image u-image-default u-image-1" src="~/images/photo-1745949779026-f7fdd1470f8c.jpeg" alt="" data-image-width="853" data-image-height="1280">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-40 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-form u-form-1">
                                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                                        <div class="u-form-group u-form-name">
                                            <label for="name-175e" class="u-label">Ime</label>
                                            <input type="text" placeholder="Unesite vaše ime" id="name-175e" name="name" class="u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                                        </div>
                                        <div class="u-form-email u-form-group">
                                            <label for="email-175e" class="u-label">Email</label>
                                            <input type="email" placeholder="Unesite validnu email adresu" id="email-175e" name="email" class="u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                                        </div>
                                        <div class="u-form-group u-form-message">
                                            <label for="message-175e" class="u-label">Poruka</label>
                                            <textarea placeholder="Upišite vašu poruku..." rows="4" cols="50" id="message-175e" name="message" class="u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                                        </div>
                                        <div class="u-align-right u-form-group u-form-submit">
                                            <a href="#" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-btn-1">send a message</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                                        <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                                        <input type="hidden" value="" name="recaptchaResponse">
                                        <input type="hidden" name="formServices" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_ffc8">
        <div class="u-expanded u-grey-10 u-map">
            <div class="embed-responsive">
                <iframe class="embed-responsive-item" src="https://maps.google.com/maps?output=embed&amp;q=Fakultetska%201%2CZenica%2072000&amp;t=m" data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMkZha3VsdGV0c2thJTIwMSUyQ1plbmljYSUyMDcyMDAwJTIyJTJDJTIyem9vbSUyMiUzQW51bGwlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
            </div>
        </div>
    </section>




</body>
</html>